<article>
  <header>
    <h1>
      Listado de adivinanzas
    </h1>
  </header>
  <div class="wrapper">
    <form action="/quizes" method="get">
      <fieldset>
        <legend>
          Si no encuentras la que deseas puedes buscar entre el listado
        </legend>
        <label>
          Inserta texto de búsqueda
          <input type="text" name="search"/>
        </label>
        <button type="submit">
          Buscar
        </button>
      </fieldset>
    </form>
    <ul class="question-list">
      <% quizes.forEach(function(quiz) { %>
      <li>
        <span class="capitalize">
          <%= quiz.theme %>
        </span>
        <a href="/quizes/<%= quiz.id %>">
          <%= quiz.question %>
        </a>
        <% if (session.user) { %>
          <a href="/quizes/<%= quiz.id %>/edit" class="btn btn-action">
            Editar
          </a>
          <a href="#" data-id="<%= quiz.id %>" class="btn btn-action btn-delete">
            Borrar
          </a>
        <% }%>
      </li>
      <% }); %>
    </ul>
    <% if (session.user) { %>
      <p>
        <a href="/quizes/new" class="btn btn-action">
          Crear preguntas
        </a>
      </p>
    <% } %>
  </div>
</article>
<% if (session.user) { %>
  <article id="modal-delete-quiz">
    <div class="modal-content">
      <header>
        <h1 class="text-center">
          ¿Desea borrar la pregunta:
          '<span id="insert-text-question">

        </span>'?
        </h1>
      </header>
      <form id="form-delete-quiz" action="" method="post" class="text-center">
        <button type="submit">
          Borrar
        </button>
        <button class="btn btn-cancel" id="cancel-delete">
          Cancelar
        </button>
      </form>
    </div>
  </article>
  <script src="/javascripts/quiz.js"></script>
<% }%>
