<form action="/quizes/<%= quiz.id %>/answer" method="get">
  <label>
    Pregunta: <%= quiz.question %>.
    <input type="text" name="answer"/>
  </label>
  <button type="submit">Enviar respuesta</button>
</form>
<h3>
  Comentarios:
</h3>
<p class="well">
  <a class="btn btn-action" href="/quizes/<%= quiz.id %>/comments/new">
    Crear comentario
  </a>
</p>
<% if (quiz.Comments && quiz.Comments.length > 0) {%>
  <ul>
    <% quiz.Comments.forEach(function(comment){  %>
      <% if (comment.publish || session.user) {%>
        <li class="well">
          <%= comment.text %>
          <% if (session.user && comment.publish === false) {%>
            <form action="/quizes/<%= quiz.id%>/comments/<%= comment.id %>/publish?_method=put" method="post">
              <button type="submit">
                Publicar
              </button>
            </form>
          <% } %>
        </li>
      <% } %>
    <% }); %>
  </ul>
<% } %>
